@font-face {
  font-family: Mikhak;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Mikhak-FD.woff2') format('woff2 supports variations'),
       url('../../assets/fonts/Mikhak-FD.woff2') format('woff2-variations');
}

:root {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-yellow-50: #fefce8;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;

  --color-orange-50: #fff7ed;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;

  --color-red-50: #fef2f2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;

  --color-blue-50: #eff6ff;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;

  --color-purple-50: #faf5ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;

  --color-rose-50: #fff1f2;
  --color-rose-200: #fecdd3;
  --color-rose-300: #fda4af;

  --color-lime-50: #f7fee7;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;

  --color-teal-50: #f0fdfa;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;

  /* type scale ratio: 1.125 */
  --fs-small: 0.889rem;
  --fs-base: 16px;
  --fs-h6: 1.125rem;
  --fs-h5: 1.266rem;
  --fs-h4: 1.424rem;
  --fs-h3: 1.602rem;
  --fs-h2: 1.802rem;
  --fs-h1: 2.027rem;

  --paragraph-max-char: 65ch;

  --border-radius-round: 20px;

  --box-shadow-1: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --box-shadow-1-hover: rgba(0, 0, 0, 0.06) 0px 3px 5px;

  --transition-notes: 0.4s ease-in-out;
}

@media screen and (width <= 600px) {
  :root {
    --fs-base: 14px;
  }
}

::selection {
  background-color: var(--color-yellow-200);
}

body {
  font-family: Mikhak, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--color-neutral-700);
  background: linear-gradient(180deg, var(--color-neutral-100) 0%, var(--color-neutral-50) 100%) no-repeat;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}
p {
  max-width: var(--paragraph-max-char);
}
small {
  font-size: var(--fs-small);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* utils */
.flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.input-group {
  position: relative;
}
.rotate svg {
  rotate: 180deg;
}

/* app layout */
.app-layout {
  display: grid;
}

/* navbar layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.2rem;
  row-gap: 0.8rem;
  padding: 1rem 1rem;
}
.navbar__title {
  flex: 0 1 auto;
  order: 0;
  cursor: default;
  user-select: none;
  font-size: 1.75rem;
  font-weight: 500;
}
.navbar .input-group {
  flex: 0 1 450px;
  margin: 0 auto;
  order: 2;
}
.navbar > .flex-group {
  order: 1;
}
.navbar .flex-group {
  gap: 0.5rem;
}

@media screen and (width > 768px) {
  .navbar {
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
  }
  .navbar__title {
    order: 0;
  }
  .navbar .input-group {
    order: 1;
    flex: 1 1 auto;
    max-width: 450px;
    margin-right: 0;
  }
  .navbar > .flex-group {
    order: 2;
  }
  .navbar .flex-group {
    gap: 1rem;
  }
}

/* search component */
.search {
  border: none;
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow-1);
  padding: 0.5rem 1.2rem 0.5rem 2.4rem;
  width: 100%;
  min-width: 200px;
  color: inherit;
}
.search:focus {
  outline: 0;
}
.search::placeholder {
  color: var(--color-neutral-400);
}
.search:hover,
.search:focus {
  box-shadow: var(--box-shadow-1-hover);
}
.search__icon {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}
.search__icon path {
  stroke: var(--color-neutral-400);
}
.search__icon:hover path {
  stroke: var(--color-neutral-700);
  transition: 0.2s ease;
}

/* note numbers */
.note-numbers {
  cursor: default;
  user-select: none;  
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-round);
  padding: 0.6rem 1rem;
  background-color: #fff;
}
.note-numbers:hover {
  box-shadow: var(--box-shadow-1-hover);
}
.note-numbers.flex-group {
  gap: 0.5rem;
}

/* btn components */
.btn-rounded {
  cursor: pointer;
  box-shadow: var(--box-shadow-1);
  border-radius: 50px;
  padding: 0.6rem;
  background-color: #fff;
  display: inline-block;
}
.btn-rounded:hover {
  box-shadow: var(--box-shadow-1-hover);
}
.btn-rounded path {
  stroke: var(--color-neutral-400);
}
.btn-rounded:hover path {
  stroke: var(--color-neutral-700);
  transition: 0.2s ease;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
}
.btn--primary {
  background-color: var(--color-yellow-400);
  color: var(--color-neutral-700);
}
.btn--primary:hover {
  background-color: var(--color-yellow-500);
}
.btn--secondary {
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-700);
}
.btn--secondary:hover {
  background-color: var(--color-neutral-500);
}
.btn--block {
  width: 100%;
}

/* main layout */
.main-layout {
  --padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius-round);
  background-color: var(--color-neutral-50);
  box-shadow: var(--box-shadow-1);
  height: calc(100vh - 110px);
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 400ms ease-in-out;
}
.main-layout:has(.notes__sidebar--mini) {
  grid-template-columns: 70px 1fr;
  transition: grid-template-columns 400ms ease-in-out;
}

/* notes */
.notes__sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: var(--padding);
  transition: width 400ms ease-in-out;
}
.notes__sidebar--mini {
  width: 70px;
}

.notes__sidebar .btn {
  border-radius: 10px;
  height: 35px;
}
.notes__sidebar-toggler,
.notes__add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  text-wrap: nowrap;
  overflow: hidden;
}
.notes__add {
  gap: 0.2rem;
}
.notes__add span {
  transition: display 200ms allow-discrete, opacity 200ms;
}
.notes__sidebar-toggler svg {
  transition: 200ms ease-out;
}

/* notes container */
.notes__list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100vh - 800px);
  opacity: 1;
  transition: display 400ms allow-discrete, opacity 600ms;
}
.notes__list::-webkit-scrollbar {
  display: none;
}

/* note component */
.notes__list-item {
  cursor: pointer;
  border: 1px solid var(--color-neutral-400);
  border-radius: 10px;
  padding: 0.8rem;
}
.notes__small-date {
  color: var(--color-neutral-500);
  display: inline-block;
  margin-bottom: 0.6rem;
  text-wrap: nowrap;
}
.notes__small-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
}
.notes__small-body {
  font-size: 0.889rem;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
}

.color-yellow {
  background-color: var(--color-yellow-50);
  border-color: var(--color-yellow-200);
}
.color-yellow.notes__list-item--selected {
  background-color: var(--color-yellow-200);
  border-color: var(--color-yellow-300);
}
.color-orange {
  background-color: var(--color-orange-50);
  border-color: var(--color-orange-200);
}
.color-orange.notes__list-item--selected {
  background-color: var(--color-orange-200);
  border-color: var(--color-orange-300);
}
.color-red {
  background-color: var(--color-red-50);
  border-color: var(--color-red-200);
}
.color-red.notes__list-item--selected {
  background-color: var(--color-red-200);
  border-color: var(--color-red-300);
}
.color-blue {
  background-color: var(--color-blue-50);
  border-color: var(--color-blue-200);
}
.color-blue.notes__list-item--selected {
  background-color: var(--color-blue-200);
  border-color: var(--color-blue-300);
}
.color-purple {
  background-color: var(--color-purple-50);
  border-color: var(--color-purple-200);
}
.color-purple.notes__list-item--selected {
  background-color: var(--color-purple-200);
  border-color: var(--color-purple-300);
}
.color-rose {
  background-color: var(--color-rose-50);
  border-color: var(--color-rose-200);
}
.color-rose.notes__list-item--selected {
  background-color: var(--color-rose-200);
  border-color: var(--color-rose-300);
}
.color-lime {
  background-color: var(--color-lime-50);
  border-color: var(--color-lime-200);
}
.color-lime.notes__list-item--selected {
  background-color: var(--color-lime-200);
  border-color: var(--color-lime-300);
}
.color-teal {
  background-color: var(--color-teal-50);
  border-color: var(--color-teal-200);
}
.color-teal.notes__list-item--selected {
  background-color: var(--color-teal-200);
  border-color: var(--color-teal-300);
}

@media screen and (width < 600px) {
  .app-layout {
    margin-bottom: 2rem;
  }
  .main-layout {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .notes__sidebar {
    display: block;
    order: 2;
    width: 100%;
  }
  .notes__list, 
  .notes__list.hide {
    min-height: 260px;
    margin: 1rem auto 0;
    display: flex;
    opacity: 1;
  }
  .notes__sidebar-toggler {
    display: none;
  }
  .main-layout:has(.notes__sidebar--mini) {
    grid-template-columns: 1fr;
  }
  .notes__add span {
    display: inline-block;
    opacity: 1;
  }
}

/* notes preview section */
.notes__preview {
  padding: var(--padding);
  background-color: #fff;
  border-radius: var(--border-radius-round);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  opacity: 1;
}

.notes__placeholder {
  display: block;
  margin-top: 1rem;
  opacity: 1;
}

.notes__info {
  justify-content: space-between;
  border-bottom: 1px solid var(--color-neutral-100);
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}
.notes__info-date {
  cursor: default;
  font-weight: 500;
  color: var(--color-neutral-400);
}

.notes__info-actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.notes__data {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.4rem;
  height: 100%;
}

.notes__body {
  border: none;
  outline: none;
  color: var(--color-neutral-700);
  text-align: justify;
  resize: none;
  padding-left: 0.4rem;
}

.notes__body::-webkit-scrollbar {
  width: 4px;
}
.notes__body:hover::-webkit-scrollbar {
  width: 4px;
}
.notes__body:hover::-webkit-scrollbar-track {
  background: var(--color-neutral-200);
  border-radius: 20px;
}
.notes__body:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
  border-radius: 20px;
}

.notes__title {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.266rem;
  color: inherit;
}

@media screen and (width < 600px) {
  .notes__preview {
    padding-inline: 1rem;
    min-height: 300px;
  }
  .notes__body::-webkit-scrollbar {
    width: 4px;
  }
}

#note-change-color path {
  stroke: var(--color-neutral-400);
}
#note-change-color:hover path {
  stroke: var(--color-neutral-700);
}

.hide {
  display: none;
  opacity: 0;
}
