@font-face {
  font-family: Mikhak;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Mikhak-FD.woff2') format('woff2 supports variations'),
       url('../../assets/fonts/Mikhak-FD.woff2') format('woff2-variations');
}

:root {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-yellow-50: #fefce8;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;

  --color-orange-50: #fff7ed;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;

  --color-red-50: #fef2f2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;

  --color-blue-50: #eff6ff;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;

  --color-purple-50: #faf5ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;

  --color-rose-50: #fff1f2;
  --color-rose-200: #fecdd3;
  --color-rose-300: #fda4af;

  --color-lime-50: #f7fee7;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;

  --color-teal-50: #f0fdfa;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;

  /* type scale ratio: 1.125 */
  --fs-small: 0.889rem;
  --fs-base: 16px;
  --fs-h6: 1.125rem;
  --fs-h5: 1.266rem;
  --fs-h4: 1.424rem;
  --fs-h3: 1.602rem;
  --fs-h2: 1.802rem;
  --fs-h1: 2.027rem;

  --paragraph-max-char: 65ch;

  --border-radius-round: 20px;

  --box-shadow-1: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --box-shadow-1-hover: rgba(0, 0, 0, 0.06) 0px 3px 5px;

  --transition-notes: 0.4s ease-in-out;
}

@media screen and (width <= 600px) {
  :root {
    --fs-base: 14px;
  }
}

::selection {
  background-color: var(--color-yellow-200);
}

body {
  font-family: Mikhak, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--color-neutral-700);
  background: linear-gradient(180deg, var(--color-neutral-100) 0%, var(--color-neutral-50) 100%) no-repeat;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}
p {
  max-width: var(--paragraph-max-char);
}
small {
  font-size: var(--fs-small);
}

ul {
  list-style-type: none;
  padding: 0;
}
